@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodys{
    font-family: 'Roboto', sans-serif;
    background-color: #FFD845 ;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.childs{
    position: absolute;
    font-size: 32px;
    right:0;
    margin-right:301px;
}
.tabs-form{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.form{
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
select{
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 16px;
    width: 260px;
}
.input{
    padding: 16px;
    border: 2px solid #000000;
    border-radius: 15px; 
    width: 300px;       
}
.button{
    width: 200px;
    background: #fff;
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 16px;
}
.button:hover{
    background-color: #ccc;
}
.wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}
.card{
    width: 300px;
    justify-content: center;
    border: 2px solid #000000 !important;
    border-radius: 20px;
    background: #ccc;
}
hr{
   background-color: #000000;
   height: 2px;
}
.box{
    display: flex;
    align-items: left;
    flex-direction: column;
}
.child{
    width: 30px;
    margin-left: 80px;
}
.child:hover{
    color: crimson;
}
p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
@media screen and (max-width: 1024px){
    .childs{
        display: none;
    }
    .form{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1.25rem;
        flex-wrap: wrap;
    }
    .wrapper{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 700px){
    .childs{
        display: none;
    }
    .intro-img{
        display: none;
    } 
    .form{
        display: none;
    }
    .wrapper{
        grid-template-columns: auto;
    }
}
